
  /* Add custom styles for the birthday card */
  body {
    font-family: "Briem Hand", cursive;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 900px;
  }

  .card img {
    width: 100%;
   height:auto;
  }

  .text {
    padding: 10px;
  }

  .text h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
  }

  .text p {
    font-size: 18px;
    color: #090909;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .text span {
    color: #bbb854;
    font-weight: bold;
  }


/* Add this style for the download button */
button {
  padding: 10px 20px;
  background-color: #bbb854;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 80%;
 position: fixed;
  top: 0;
  margin-top: 2%;

}

/* Add hover effect for the download button */
button:hover {
  background-color: #656c09;
}
#qrcode{
  margin-left: 34%;
  width: 30%;
  height: 15%;
}