*body{
    font-family: 'Times New Roman', Georgia,  serif;
    align-items: center;
}

.container{
    background-color: rgb(244, 191, 191);
    
    margin: 20px auto;
    padding: 20px;
    align-content: center;
    max-width: 600px;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 12px 13px 14px rgba(0, 0, 0, .9);
    margin-top: 200px;
}

h1{
    font-family: "Lugrasimo", cursive;
    font-size: 30px;
    color: blueviolet;
    text-align: center;
    font-weight: bold;
}
#names span{
    font-family: "Lugrasimo", cursive;
    font-size: 30px;
    color: blueviolet;
    text-align: center;
    font-weight: bold;
}
h2 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: blueviolet;
    text-align: center;
    font-weight: bold;

}

img{
    width: 50%;
    height: 50%;
    overflow: hidden;
    align-content: center;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

#msg{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(218, 26, 247);
}
p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(17, 11, 11);
}
p span{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(17, 11, 11);
}
